<template>
    <el-dialog :title="titleDialog" :visible="showDialog" @close="close" @open="create" @opened="opened" :close-on-click-modal="false" append-to-body >
        <form autocomplete="off" @submit.prevent="submit" >
            <div class="form-body" style="width: 100%;">

                <div class="row"> 
                    <div class="col-md-2">
                        <div class="form-group" :class="{'has-danger': errors.conductor}">
                            <label class="control-label"><b>1.Conductor</b> <span class="text-danger">*</span></label>
                           
                            <small class="form-control-feedback" v-if="errors.conductor" v-text="errors.conductor[0]"></small>
                        </div>
                        <div class="form-group" :class="{'has-danger': errors.placa}">
                            <label class="control-label"><b>2.Placa Tracto</b> <span class="text-danger">*</span></label>
                          
                            <small class="form-control-feedback" v-if="errors.placa" v-text="errors.placa[0]"></small>
                        </div> 
                        
                        
                    </div> 
                    <div class="col-md-2">
                        <div class="form-group" :class="{'has-danger': errors.conductor}">
                           
                            <el-input v-model="form.conductor" dusk="conductor"></el-input>
                            <small class="form-control-feedback" v-if="errors.conductor" v-text="errors.conductor[0]"></small>
                        </div>
                        <div class="form-group" :class="{'has-danger': errors.placa}">
                           
                            <el-input v-model="form.placa" dusk="placa"></el-input>
                            <small class="form-control-feedback" v-if="errors.placa" v-text="errors.placa[0]"></small>
                        </div> 
                        
                    </div> 
                    <div class="col-md-2">
                        <div class="form-group" :class="{'has-danger': errors.fecha}">
                            <label class="control-label">Fecha <span class="text-danger">*</span></label>
                           
                            <small class="form-control-feedback" v-if="errors.fecha" v-text="errors.fecha[0]"></small>
                        </div>
                        <div class="form-group" :class="{'has-danger': errors.responsable}">
                            <label class="control-label">Responsable <span class="text-danger">*</span></label>
                          
                            <small class="form-control-feedback" v-if="errors.responsable" v-text="errors.responsable[0]"></small>
                        </div> 
                        
                        
                    </div> 
                        <div class="col-md-2">
                        <div class="form-group" :class="{'has-danger': errors.fecha}">
                           
                            <el-input type="date" v-model="form.fecha" dusk="fecha"></el-input>
                            <small class="form-control-feedback" v-if="errors.fecha" v-text="errors.fecha[0]"></small>
                        </div>
                        <div class="form-group" :class="{'has-danger': errors.responsable}">
                           
                            <el-input v-model="form.responsable" dusk="responsable"></el-input>
                            <small class="form-control-feedback" v-if="errors.responsable" v-text="errors.responsable[0]"></small>
                        </div> 
                        
                    </div> 
                     <div class="col-md-2">                       
                       
                            <label class="control-label">Km </label>
                            <el-input v-model="form.km" dusk="km"></el-input>
                            
                        </div> 
                        
                    </div> 
                    
                </div>
                <div class="row" >
                     <div class="col-md-3">
                       <label><b>3. DOCUMENTACION TRACTO</b></label>
                        <label for="one">Tarjeta de Propiedad</label>
                        <br>
                      
                        <label for="two">Tarjeta de Circulacion</label>
                        <br>
                      
                        <label for="two">SOAT</label>
                        <br>
                      
                        <label for="two">Revision Tecnica</label>
                        <br>
                      
                        <label for="two">Bonificacion</label>
                        <br>
                      
                        <label for="two">Formatos</label>
                     </div>
                     <div class="col-md-1">
                        <br>
                        <input type="radio" id="uno" value="1" v-model="form.tarjetap"/>
                        <label for="uno">SI</label>
                        <br>
                        <input type="radio" id="dos" value="1" v-model="form.tarjetac"/>
                        <label for="dos">SI</label>
                        <br>
                        <input type="radio" id="9" value="1" v-model="form.soat"/>
                        <label for="9">SI</label>
                        <br>
                        <input type="radio" id="11" value="1" v-model="form.revision"/>
                        <label for="11">SI</label>
                        <br>
                        <input type="radio" id="13" value="1" v-model="form.bonificacion"/>
                        <label for="13">SI</label>
                        <br>
                        <input type="radio" id="15" value="1" v-model="form.formatos"/>
                        <label for="15">SI</label>
                     </div>
                     <div class="col-md-1">
                      <br>
                        <input type="radio" id="tres" value="2" v-model="form.tarjetap"/>
                        <label for="tres">NO</label>
                          <br>
                        <input type="radio" id="cuatro" value="2" v-model="form.tarjetac"/>
                        <label for="cuatro">NO</label>
                        <br>
                        <input type="radio" id="10" value="2" v-model="form.soat"/>
                        <label for="10">NO</label>
                        <br>
                        <input type="radio" id="12" value="2" v-model="form.revision"/>
                        <label for="12">NO</label>
                        <br>
                        <input type="radio" id="14" value="2" v-model="form.bonificacion"/>
                        <label for="14">NO</label>
                          <br>
                        <input type="radio" id="16" value="2" v-model="form.formatos"/>
                        <label for="16">NO</label>
                     </div>
                     <div class="col-md-3">
                       <label><b>4. ARTICULOS EN TRACTO</b></label>
                       
                        <label for="one">Alarma Retroceso</label>
                        <br>                      
                        <label for="two">Botiquin</label>
                        <br>                      
                        <label for="two">Elementos de Seguridad.</label>
                        <br>                      
                        <label for="two">Gata</label>
                        <br>                      
                        <label for="two">Llaves</label>
                        <br>                      
                        <label for="two">Autoradio</label>
                     </div>
                      <div class="col-md-1">
                         <br>
                        <input type="radio" id="5" value="1" v-model="form.alarma"/>
                        <label for="5">SI</label>
                        <br>
                        <input type="radio" id="6" value="1" v-model="form.botiquin"/>
                        <label for="6">SI</label>
                         <br>
                        <input type="radio" id="17" value="1" v-model="form.elementos"/>
                        <label for="17">SI</label>
                        <br>
                        <input type="radio" id="19" value="1" v-model="form.gata"/>
                        <label for="19">SI</label>
                         <br>
                        <input type="radio" id="21" value="1" v-model="form.llaves"/>
                        <label for="21">SI</label>
                         <br>
                        <input type="radio" id="23" value="1" v-model="form.autoradio"/>
                        <label for="23">SI</label>
                     </div>
                     <div class="col-md-1">
                       <br>
                        <input type="radio" id="7" value="2" v-model="form.alarma"/>
                        <label for="7">NO</label>
                          <br>
                        <input type="radio" id="8" value="2" v-model="form.botiquin"/>
                        <label for="8">NO</label>
                           <br>
                        <input type="radio" id="18" value="2" v-model="form.elementos"/>
                        <label for="18">NO</label>
                        <br>
                        <input type="radio" id="20" value="2" v-model="form.gata"/>
                        <label for="20">NO</label>
                           <br>
                        <input type="radio" id="22" value="2" v-model="form.llaves"/>
                        <label for="22">NO</label>
                         <br>
                        <input type="radio" id="24" value="2" v-model="form.autoradio"/>
                        <label for="24">NO</label>
                     </div>
                </div>
                
                <div class="row"> 
                    <div class="col-md-3">
                       <label><b>5. EQUIPO............</b></label>
                        <label for="one">Nivel de agua dentro rango</label>
                        <br>
                      
                        <label for="two">Nivel de aceite, dentro rango</label>
                        <br>
                      
                        <label for="two">Luces operativas</label>
                        <br>
                      
                        <label for="two">Frenos operativos</label>
                        <br>
                      
                        <label for="two">Embrague</label>
                        <br>
                      
                        <label for="two"><b>Fugas y Filtraciones</b></label>
                        <br>
                      
                        <label for="two">Agua/aceite/combustible</label>
                        <br>
                      
                        <label for="two">Tacografo operativo</label>
                        <br>
                      
                        <label for="two">Neblineros</label>
                     </div>
                     <div class="col-md-1">
                        <br>
                        <input type="radio" id="25" value="1" v-model="form.nagua"/>
                        <label for="25">SI</label>
                        <br>
                        <input type="radio" id="26" value="1" v-model="form.naceite"/>
                        <label for="26">SI</label>
                        <br>
                        <input type="radio" id="27" value="1" v-model="form.luces"/>
                        <label for="27">SI</label>
                        <br>
                        <input type="radio" id="28" value="1" v-model="form.frenos"/>
                        <label for="28">SI</label>
                        <br>
                        <input type="radio" id="29" value="1" v-model="form.embrague"/>
                        <label for="29">SI</label>
                        <br>
                       

                      
                        <br>
                        <input type="radio" id="30" value="1" v-model="form.aguaaceite"/>
                        <label for="30">SI</label>
                        <br>
                        <input type="radio" id="31" value="1" v-model="form.tacografo"/>
                        <label for="31">SI</label>
                        <br>
                        <input type="radio" id="39" value="1" v-model="form.neblineros"/>
                        <label for="39">SI</label>
                     </div>
                     <div class="col-md-1">
                      <br>
                        <input type="radio" id="32" value="2" v-model="form.nagua"/>
                        <label for="32">NO</label>
                          <br>
                        <input type="radio" id="33" value="2" v-model="form.naceite"/>
                        <label for="33">NO</label>
                        <br>
                        <input type="radio" id="34" value="2" v-model="form.luces"/>
                        <label for="34">NO</label>
                        <br>
                        <input type="radio" id="35" value="2" v-model="form.frenos"/>
                        <label for="35">NO</label>
                          <br>
                        <input type="radio" id="40" value="2" v-model="form.embrague"/>
                        <label for="40">NO</label>
                        <br>
                        
                          <br>
                        <input type="radio" id="36" value="2" v-model="form.aguaaceite"/>
                        <label for="36">NO</label>
                         <br>
                        <input type="radio" id="37" value="2" v-model="form.tacografo"/>
                        <label for="37">NO</label>
                         <br>
                        <input type="radio" id="38" value="2" v-model="form.neblineros"/>
                        <label for="38">NO</label>
                     </div>
                     <div class="col-md-3">
                       <label><b>6. NEUMATICOS............</b></label>
                        <label for="one">Vigia en buene estado</label>
                        <br>
                      
                        <label for="two">Perdida de aire</label>
                        
                      
                       
                     </div>
                      <div class="col-md-1">
                        <br>
                        <input type="radio" id="42" value="1" v-model="form.vigia"/>
                        <label for="42">SI</label>
                        <br>
                        <input type="radio" id="43" value="1" v-model="form.aire"/>
                        <label for="43">SI</label>
                      </div>
                       <div class="col-md-1">
                        <br>
                        <input type="radio" id="44" value="2" v-model="form.vigia"/>
                        <label for="44">NO</label>
                        <br>
                        <input type="radio" id="45" value="2" v-model="form.aire"/>
                        <label for="45">NO</label>
                      </div>
                       
                      
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                       
                        <div class="form-group" :class="{'has-danger': errors.combustibleactual}">
                            <label class="control-label">Combustible Actual <span class="text-danger">*</span></label>
                           
                            <small class="form-control-feedback" v-if="errors.combustibleactual" v-text="errors.combustibleactual[0]"></small>
                        </div>
                        <div class="form-group" :class="{'has-danger': errors.combustiblentrega}">
                            <label class="control-label">Combustible Entrega <span class="text-danger">*</span></label>
                          
                            <small class="form-control-feedback" v-if="errors.combustiblentrega" v-text="errors.combustiblentrega[0]"></small>
                        </div> 
                      </div>   
                   <div class="col-md-2">     
                    
                        <div class="form-group" :class="{'has-danger': errors.combustibleactual}">
                           
                           <el-input v-model="form.combustibleactual" dusk="combustibleactual"></el-input>
                            <small class="form-control-feedback" v-if="errors.combustibleactual" v-text="errors.combustibleactual[0]"></small>
                        </div>
                        <div class="form-group" :class="{'has-danger': errors.combustiblentrega}">
                           
                            <el-input v-model="form.combustiblentrega" dusk="combustiblentrega"></el-input>
                            <small class="form-control-feedback" v-if="errors.combustiblentrega" v-text="errors.combustiblentrega[0]"></small>
                        </div> 
                        
                     
                      </div>
                      <div class="col-md-2">     
                          <label ><b>NEUMATICOS</b></label>
                            <label >BUENO     B</label>
                            <br>
                            <label >REGULAR   R</label>
                            <br>
                            <label >MALO      M</label>
                             <br>
                        
                     
                      </div>
                    <div class="col-md-4">
                        <table>
                                <tr>
                                    <td>.</td>
                                    
                                    <td><el-input v-model="form.llanta3" ></el-input></td>
                                      <td><el-input v-model="form.llanta7" ></el-input></td>
                                     
                                </tr>
                                <tr>
                                     <td><el-input v-model="form.llanta1" ></el-input></td>
                                      <td><el-input v-model="form.llanta4" ></el-input></td>       
                                       <td><el-input v-model="form.llanta8" ></el-input></td>
                                      
                                </tr>
                                <tr>
                                     <td><el-input v-model="form.llanta2" ></el-input></td>
                                      <td><el-input v-model="form.llanta5" ></el-input></td>       
                                       <td><el-input v-model="form.llanta9" ></el-input></td>
                                                                     
                                </tr>
                                <tr>
                                     <td>.</td>
                                      <td><el-input v-model="form.llanta6" ></el-input></td>       
                                       <td><el-input v-model="form.llanta10" ></el-input></td>
                                                                     
                                </tr>
                        </table>
                      </div>
                </div>
                <hr>
                <div class="row"> 
                         <div class="col-md-11">
                        <div class="form-group" :class="{'has-danger': errors.observaciones}">
                            <label class="control-label">Observaciones del Tracto </label>
                            <el-input type="textarea" v-model="form.observaciones" ></el-input>
                            <small class="form-control-feedback" v-if="errors.observaciones" v-text="errors.observaciones[0]"></small>
                        </div>
                        </div>
                </div>
                <hr>
                 <div class="row"> 
                     <div class="col-md-3">
                            <div class="form-group" >
                                <label class="control-label">Imágen1 <span class="text-danger"></span></label>
                                <el-input v-model="form.desc01" ></el-input>
                                <el-upload class="avatar-uploader"
                                        :data="{'type': 'tractos'}"
                                        :headers="headers"
                                        :action="`/${resource}/upload`"
                                        :show-file-list="false"
                                        :on-success="onSuccess">
                                    <img v-if="form.image_url" :src="form.image_url" class="avatar">
                                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                </el-upload>
                            </div>
                        </div>
                            <div class="col-md-3">
                            <div class="form-group" >
                                <label class="control-label">Imágen2 <span class="text-danger"></span></label>
                                <el-input v-model="form.desc02" ></el-input>
                                <el-upload class="avatar-uploader"
                                        :data="{'type': 'tractos'}"
                                        :headers="headers"
                                        :action="`/${resource}/upload1`"
                                        :show-file-list="false"
                                        :on-success="onSuccess1">
                                    <img v-if="form.image_url1" :src="form.image_url1" class="avatar">
                                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                </el-upload>
                            </div>
                        </div>
                         <div class="col-md-3">
                            <div class="form-group" >
                                <label class="control-label">Imágen3 <span class="text-danger"></span></label>
                                <el-input v-model="form.desc03"></el-input>
                                <el-upload class="avatar-uploader"
                                        :data="{'type': 'tractos'}"
                                        :headers="headers"
                                        :action="`/${resource}/upload2`"
                                        :show-file-list="false"
                                        :on-success="onSuccess2">
                                    <img v-if="form.image_url2" :src="form.image_url2" class="avatar">
                                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                </el-upload>
                            </div>
                        </div>
                     
                </div>
             
                
                
                
                
            </div>
            <div class="form-actions text-right mt-4">
                <el-button @click.prevent="close()">Cancelar</el-button>
                <el-button type="primary" native-type="submit" :loading="loading_submit">Guardar</el-button>
            </div>
        </form>
    </el-dialog>
</template>

<script>

    import {serviceNumber} from '@mixins/functions'
import table from '../../../../../../../resources/js/views/tenant/pos/partials/table.vue'

    export default {
  components: { table },
        mixins: [serviceNumber],
        props: ['showDialog', 'recordId', 'external'],
        data() {
            return {
                loading_submit: false,
                titleDialog: null,
                resource: 'tractos',
                headers: headers_token,
                errors: {},
                form: {},
                api_service_token: false,
                identity_document_types: [],
                tarjetap:null,
                tarjetac:null,
                soat:null,
                revision:null,
                bonificacion:null,
                formatos:null,
                alarma:null,
                botiquin:null,
                elementos:null,
                gata:null,
                llaves:null,
                autoradio:null,
                 nagua:null,
                naceite:null,
                luces:null,
                frenos:null,
                embrague:null,
                aguaaceite:null,
                tacografo:null,
                neblineros:null,
                vigia:null,
                aire:null,
            }
        },
        async created() {
            await this.initForm()
            await this.$http.get(`/${this.resource}/tables`)
                .then(response => {
                    this.api_service_token = response.data.api_service_token
                    this.identity_document_types = response.data.identity_document_types;
                })

        },
        computed: {
            maxLength: function () {
                if (this.form.identity_document_type_id === '6') {
                    return 11
                }
                if (this.form.identity_document_type_id === '1') {
                    return 8
                }
            }
        },
        methods: {
            keyUpLicense(e){
                if(this.form.license.length == 1 && e.keyCode !== 8 && this.form.number){
                    this.form.license = this.form.license.concat(this.form.number)
                }
            },
            initForm() {
                this.errors = {}

                this.form = {
                    id: null,
                    placa: '',                   
                    modelo: '',                    
                    descripcion: '',
                    color: '',
                       image: null,
                    image_url: null,
                    temp_path: null,
                       image1: null,
                    image_url1: null,
                    temp_path1: null,
                    image2: null,
                    image_url2: null,
                    temp_path2: null,
                    tarjetap:null,
                   tarjetac:null,
                   soat:null,
                revision:null,
                bonificacion:null,
                formatos:null,
                alarma:null,
                botiquin:null,
                elementos:null,
                gata:null,
                llaves:null,
                autoradio:null,
                nagua:null,
                naceite:null,
                luces:null,
                frenos:null,
                embrague:null,
                aguaaceite:null,
                tacografo:null,
                neblineros:null,
                vigia:null,
                aire:null,
                fecha: moment().format('YYYY-MM-DD'),
                 establishment_id:1,
                }
            },
             onSuccess(response, file, fileList) {
                if (response.success) {
                    this.form.image = response.data.filename
                    this.form.image_url = response.data.temp_image
                    this.form.temp_path = response.data.temp_path
                   
                } else {
                    this.$message.error(response.message)
                }
            },
             onSuccess1(response, file, fileList) {
                if (response.success) {
                   
                      this.form.image1 = response.data.filename1
                    this.form.image_url1 = response.data.temp_image1
                    this.form.temp_path1 = response.data.temp_path1
                } else {
                    this.$message.error(response.message)
                }
            },
            onSuccess2(response, file, fileList) {
                if (response.success) {
                   
                      this.form.image2 = response.data.filename2
                    this.form.image_url2 = response.data.temp_image2
                    this.form.temp_path2 = response.data.temp_path2
                } else {
                    this.$message.error(response.message)
                }
            },
            
            async opened() {

            },
            create() {
                
                this.titleDialog = (this.recordId)? 'Editar Check List':'Nuevo Check List '

                if (this.recordId) {
                    this.$http.get(`/${this.resource}/record/${this.recordId}`)
                        .then(response => {
                            this.form = response.data.data
                        })
                }
            },
            submit() {
                this.loading_submit = true
                this.$http.post(`/${this.resource}`, this.form)
                    .then(response => {
                        if (response.data.success) {

                            this.$message.success(response.data.message)

                            if (this.external) {
                                this.$eventHub.$emit('reloadDataDrivers', response.data.id)
                            } else {
                                this.$eventHub.$emit('reloadData')
                            }

                            this.close() 

                        } else {
                            this.$message.error(response.data.message)
                        }
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data
                        } else {
                            console.log(error)
                        }
                    })
                    .then(() => {
                        this.loading_submit = false
                    })
            },
            changeIdentityDocType(){
                // (this.recordId == null) ? this.setDataDefaultCustomer() : null
            },
            setDataDefaultCustomer(){

                // if(this.form.identity_document_type_id == '0'){
                //     this.form.number = '99999999'
                //     this.form.name = "Clientes - Varios"
                // }else{
                //     this.form.number = ''
                //     this.form.name = null
                // }

            },
            close() {
                this.$emit('update:showDialog', false)
                this.initForm()
            },
            searchCustomer() {
                this.searchServiceNumberByType()
            },
            searchNumber(data) {

                this.form.name = (this.form.identity_document_type_id === '1')?data.nombre_completo:data.nombre_o_razon_social;

            },
        }
    }
</script>
<style>
.el-dialog {
  
    width: 75% !important;
}
</style>